/******************************************************************
Site Name: Nooch
Author: Tom Peduto

Stylesheet: Desktop Stylsheet
******************************************************************/

/*********************
SUBNAV
*********************/

.about-subnav {
	display: inline-block;
	width: 470px; margin: auto 0px auto 140px;

	ul {
		li {
			a {
				font-size: 15px;
			}
		}
	}
}

.head-wrap {
		max-width: 960px;

	h1 {
		display: inline-block;
		text-align: left;
		width: 350px;
		margin: 0px 0px 20px 0px;
	}
}

.help-subnav {
	display: inline-block;
	width: 420px; margin: auto 0px auto 190px;

	ul {
		li {
			a {
				font-size: 15px;
			}
		}
	}
}

.head-wrap {
		max-width: 960px;

	h1 {
		display: inline-block;
		text-align: left;
		width: 350px;
		margin: 0px 0px 20px 0px;
	}
}


/*********************
SLIDER
*********************/
.full-width {
	height: 500px;
}

.slide {
	width: 1000px !important; height: 500px;
	padding-top: 100px;

	h2 {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 2.4em;
	}

	p {
		font-size: 16px;
		width: 440px !important;
	}

	.button {
		padding: 10px 15px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		font: 500 20px $body_font_family;
		margin-top: 30px;

	}
}

#slide1 {
	padding-left: 200px; padding-right: 80px;
	background: url('../images/slide1-500.png') no-repeat 100px top;

	div#playcontain {
		height: 100%;
		display: inline-block;
		vertical-align: top;
		margin-right: 120px;
	}
	div#textcontain {
		height: 100%;
		display: inline-block;
		width: 440px;
		margin-top: 0px;
	}
}

#playbutton {
	background: url('../images/playmid-500.png') no-repeat;
	font-size: 0px;
	width: 120px; height: 155px;
	display: block;
	margin-top: 50px;
}

#slide2 {
	padding-right: 350px; padding-left: 120px;
	background: url('../images/phone1-500.png') no-repeat 650px top;
}

#slide3 {
	padding-left: 400px; padding-right: 100px;
	background: url('../images/phone2-500.png') no-repeat 100px top;
}

#slide4 {
	padding-right: 350px; padding-left: 120px;
	background: url('../images/phone3-500.png') no-repeat 650px top;
}

#slider-id-wrapper {
	width: 1000px !important;
	max-width: 1000px !important;
}

.liquid-slider-wrapper .liquid-nav-right-arrow {
  margin-top: 242px;
}
.liquid-slider-wrapper .liquid-nav-left-arrow {
  margin-top: 242px;
}

/*********************
HOME
*********************/

div#home-content-mid {
	font-size: 0;

	ul {
		box-sizing: border-box;
		max-width: 960px;
		margin: 0px auto;

		.bucket-wrap:nth-child(2) {
			border-left: 1px solid $nooch_lgray;
			border-right: 1px solid $nooch_lgray;
		}

		li {
			display: inline-block !important;
			width: 33% !important;
			vertical-align: top;
			padding-left: 100px !important;

			p {
				font-size: 12px !important;
			}
		}
	}
}

div.section-wrapper {
	max-width: 960px;

	ul {
		box-sizing: border-box;
		max-width: 960px !important;
		margin: 0px auto;

  		li:nth-child(2) {
			border-left: 1px solid $nooch_lgray;
			border-right: 1px solid $nooch_lgray;
		}
	}
}

#awards-section {

	ul {
		max-width: 960px;

		li {
			display: inline-block;
			width: 16.66%;
		}
	}

	li:nth-child(5) {
		display: inline-block;
	}
}

/*********************
OVERVIEW
*********************/

// *1.28

.overview-wrap {
	background: white;

	.about-content {
    	background-size: 100%, auto;
    	width: 960px;
    	min-height: 1632px;
    	margin: auto auto -35px auto;

    	#vid-container {
    		margin: 118px 0px 0px 116px;
    		display: inline-block;
    		width: 230px; height: 345px;

    		iframe {
    			width: 100%; height: 100%;
    		}
    	}

		#bucket1 {
			background: transparent;
			display: inline-block;
			padding: 0px 0px 205px 0px;
			width: auto; height: auto;
			vertical-align: top;

			#bucket1h1, #bucket1h2 {
				display: block;
				color: $nooch_purple;
			}

			#bucket1h1 {
				font: 900 13em/80% $body_font_family;
				margin: 26px 0px 0px 60px;
			}

			#bucket1h2 {
				font: 4.4em/80% $header_font_family;
				margin: 13px 0px 0px 64px;
				text-align: left;
			}

			p {
				width: 450px;
				font-size: 2.5em;
				margin: 25px 0px 0px 58px;
			}
		}

		#bucket2h2, #bucket3h2 {
			font-size: 4.4em;
			color: $nooch_purple;
		}

		#bucket2h2 {
			text-align: left;
			margin: 0px 0px 25px 128px;
		}

		#bucket2p, #bucket3p, #bucket4p {
			font-size: 2.5em;
			background: transparent;
		}

		#bucket2p {
			margin: 0px 0px 102px 128px;
			padding: 0px;
			width: 435px;
		}

		#bucket3h2, #bucket3p {
			text-align: left;
		}

		#bucket3h2 {
			margin: 0px 0px 25px 460px;
		}

		#bucket3p {
			margin: 0px 0px 25px 460px;
			padding: 0px;
			width: 474px;
			margin-bottom: 218px;
		}

		#bucket4h2 {
			font-size: 3.6em;
			color: $nooch_purple;
			margin-bottom: 35px;
		}
	}
}

/*********************
HOW IT WORKS
*********************/
.how-wrap {

	ul#how-buckets {
		max-width: 960px;
		width: 100%;

		li {
			width: 30% !important;
			margin: 10px 1.5% !important;
			min-height: 150px;
			vertical-align: top;
			padding-top: 0px !important;

			&#how-bucket-1 {
				div{
					border-left: 1px solid $nooch_lgray;
					border-right: 1px solid $nooch_lgray;
				}
			}

			&#how-bucket-4 {
				div{
					border-left: 1px solid $nooch_lgray;
					border-right: 1px solid $nooch_lgray;
				}
				p{
					padding-right: 10px;
				}
			}

			.how-dividing-line {
				width: 100%;
				height: 150px;
				margin: 0px;
			}

			p:not(:first-child) {
				font-size: 14px;
				padding-left: 50px;
				text-align: left;
				min-height: 88px;
				border-bottom: 1px solid $nooch_xlgray;
				padding-bottom: 30px;
				margin-bottom: 40px;
			}
		}
	}
}

/*********************
SECURITY
*********************/

.secure-wrap {

	ul#secure-buckets {
		max-width: 960px;

		li {
			p {
				font: normal 300 16px/140% $body_font_family;
			}	
		}
	}
}

/*********************
TEAM
*********************/

.team-wrap {

	ul#team-buckets {
		max-width: 960px;

		.bio-wrap {
			max-width: 295px;
		}

		.wp-post-image {
			margin-top: 0px;
			width: 150px;
			height: auto;
		}

		li {
			min-height: 300px;
			background-size: 150px 300px;
			max-width: none;

		&.pic-right {
			width: 470px;

			h1, h2 {
				text-align: right;
			}
		

			p{
				border-left: 1px solid $nooch_lgray;
				padding-left: 25px;
				margin-left: -25px;
			}
		}

		&.pic-left {
			width: 490px;
			padding-right: 30px;
		}

			h1 {
				font-size: 25px;
			}

			h2 {
				font: 700 16px $body_font_family;
			}

			p{
				font: 300 16px $body_font_family;
			}
		}
	}
}


/*********************
FAQ
*********************/

.faq-wrap {

	article {
		width: 100%;
	}
}


/*********************
CONTACT US
*********************/

.contact-wrap {

	#contact-content-wrapper {
	 	max-width: 960px;
	 }

	 .first-third {
	 	width: 25%;
	}

	.second-third {
	 	display: inline-block;
	 	width: 50%;
	}

	.third-third {
		padding-left: 30px;
		padding-top: 75px;
		display: inline-block;
		width: 20%;
		vertical-align: top;

		ul {
			li {
				filter: gray;
				-webkit-filter: grayscale(100%);
				padding-left: 35px;
				font: 500 16px/120% $body_font_family;
				background-size: 25px 25px;
				background-repeat: no-repeat;
				background-position: left top;
				height: 25px;
				margin-bottom: 30px;
				width: 100px;

				a {
					display: inline-block;
					text-decoration: none;
					filter: none;
					-webkit-filter: grayscale(0%);
				}

			&:hover, &:active {
				filter: none;
				-webkit-filter: grayscale(0%);
			}

			&:first-child {
				background-image: url('../images/contactus-fb.png');
			}
			&:nth-child(2) {
				background-image: url('../images/contactus-twit.png');
			}
			&:last-child {
				background-image: url('../images/contactus-gplus.png');
			}
			}
		}
	}
}

/*********************
REQUEST AN INVITE
*********************/

.request-wrap {
	max-width: 960px;

	.body {
		font: 300 18px/120% $body_font_family;
		text-align: left;
		max-width: none;
	}

	form {
		display: block;
		margin: 0px auto;
		box-sizing: border-box;
		width: 90%;

		#request-submit {
			margin-left: 760px;
			font-size: 16px;
		}

		h1 {
			font-size: 28px;
			padding-left: 15px;
			text-align: left;
		}

		p {
			font: 300 18px/170% $body_font_family;
			text-align: left;
			padding: 0px 15px;

			input {
				width: 200px;
				font: 500 18px/170% $body_font_family;
			}
		}
	}
}


/*********************
BLOG
*********************/

.outer-wrap {
	max-width: 960px;
}

.blog-wrap {
	padding-top: 0px !important;
	width: 700px;
	max-width: 700px;
	display: inline-block;

	article {
		width: 700px;
		max-width: 700px;


		.featured-image {
			vertical-align: top;
			max-width: 100%;
			display: block;
			margin: auto;
		}

		.entry-header-link {
			max-width: 600px;

			h2 {
				width: 600px;
				line-height: 100%;	
			}
		}

		p {
			font-size: 18px;
			line-height: 24px;
		}

		.excerpt-read-more {
			font-size: 16px;
		}

		.feat-img {
			max-width: 700px;
		}
	}
}

.bottom-nav-wrap {
	max-width: 960px;
}

/**SINGLE**/

#inner-content {
	max-width: 960px !important;
}

.single-wrap {
	width: 75%;
	max-width: 700px;

	article {
		width: 100%;
		max-width: 700px;

		h2 {
			display: inline-block;
			width: 600px;
			font-size: 36px;
		}
	

		p {
			font-size: 18px;
			line-height: 24px;
		}

		.feat-img {
			max-width: 700px;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	font-size: 12px;
	float: none;
	margin: 0px;
	max-width: none;
	width: 260px;

	form {
		display: block;
		max-width: 320px;
		margin-left: auto; margin-right: auto;

		input {
			box-sizing: border-box;
		}

		input:not(#searchsubmit) {
			width: 80%; height: 30px;
			display: block;
			margin: 0px 10%;
		}

		#searchsubmit {
			display: none;;
		}
	}

	#recent-comments-2 {
		display: none;
	}

	.screen-reader-text {
		font-size: 0;
	}

	.widget {

		ul {

			li {

				a {
					font: 500 1em/120% $body_font_family;
					color: $nooch_blue;
					text-decoration: none;
				}

			}

		}

	}
}


/*********************
FOOTER
*********************/

#footleft {
    width: 70% !important;
}
	
#footcenter1 {
	background: url(../images/footercenter1.png) center top;
	background-repeat: no-repeat;
	height: 100%;
    width: 5%;
    display: inline-block;
}
	
	
#footcenter {
    width: 10% !important;
}
	
#footcenter2 {
	background: url(../images/footercenter2.png) center top;
	background-repeat: no-repeat;
    height: 100%;
    width: 5%;
    display: inline-block;
}
	
#footright {
    width: 10% !important;
}

#container {
	min-height: 100%;
	margin-bottom: -224px;

	.footer-clear {
		height: 224px;
	}
}

footer.footer div#inner-footer {
	max-width: 960px;
	margin: 0px auto;

	form.footer-form {
		display: inline-block;
		margin: 0px 15% 50px auto;
		width: 25%;
	}
	ul {
		display: inline-block;
		width: 20%;
		vertical-align: top;
		margin-top: 0px;
		margin-right: 0px;

		li {
			margin-top: 0px;
			display: block !important;

			h6 {
				display: block !important;
				margin-top: 0px;
				line-height: 100%;
				font-weight: 500;
				font-size: 1.5em;
			}
			a {
				font-size: 0.8em;
				font-weight: 300px;
				line-height: 100%;
				background: none;
				text-indent: 0px;
				width: auto; height: auto;

			}
		}
	}

	ul#social-list {
		margin: 0px;
	}
}