/******************************************************************
Site Name: Nooch
Author: Tom Peduto

Stylesheet: Super Large Monitor Stylesheet

******************************************************************/

/*********************
SLIDER
*********************/

.slide {
	width: 1200px !important; height: 500px;

	h2 {
		font-size: 2.8em;
	}

	p {
		font-size: 20px;
		width: 600px !important;
	}

	.button {
		padding: 12px 20px;
		font: 500 24px $body_font_family;
	}
}

#slide1 {
	padding-left: 200px; padding-right: 80px;
	background-position: 100px top;

	div#playcontain {
		margin-right: 150px;
	}
	div#textcontain {
		width: 440px;
		margin-top: 0px;
	}
}

#playbutton {
	background: url('../images/playmid-500.png') no-repeat;
	width: 120px; height: 155px;
	margin-top: 50px;
}

#slide2 {
	padding-right: 350px; padding-left: 120px;
	background-position: 800px top;
}

#slide3 {
	padding-left: 430px; padding-right: 100px;
	background-position: 100px top;
}

#slide4 {
	padding-right: 350px; padding-left: 120px;
	background-position: 800px top;
}

#slider-id-wrapper {
	width: 1200px !important;
	max-width: 1200px !important;
}

/*********************
BLOG
*********************/

.outer-wrap {
	max-width: 1100px;
}

.blog-wrap {
	padding-top: 0px !important;
	width: 750px;
	max-width: 750px;
	display: inline-block;

	article {
		width: 750px;
		max-width: 750px;


		.featured-image {
			vertical-align: top;
			max-width: 100%;
			display: block;
			margin: auto;
		}

		.entry-header-link {
			max-width: 650px;
			font-size: 24px;

			h2 {
				width: 650px;
				line-height: 100%;	
			}
		}

		.excerpt-read-more {
			font-size: 18px;
			width: 150px;
		}

		.feat-img {
			max-width: 750px;
		}
	}
}

.bottom-nav-wrap {
	max-width: 1100px;
}

#inner-content {
	max-width: 1100px !important;
}

.single-wrap {
	padding-top: 0px !important;
	width: 750px;
	max-width: 750px;
	display: inline-block;

	article {
		width: 750px;
		max-width: 750px;

		h2 {
			width: 650px;
			line-height: 100%;	
		}
	}

	.feat-img {
		width: 750px !important;
		max-width: none !important;
	}
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	padding-left: 100px;
	width: 350px;

	form {

		input:not(#searchsubmit) {
			width: 70%; height: 30px;
			display: block;
		}
	}

	.widget {

		ul {

			li {

				h4 {
					font-size: 1.6em;
				}

				a {
					font: 500 1.2em/120% $body_font_family;
				}

			}

		}

	}
}


/*********************
FOOTER
*********************/

#container {
	min-height: 100%;
	margin-bottom: -209px;

	.footer-clear {
		height: 209px;
	}
}

footer.footer div#inner-footer {
	max-width: 960px;
	margin: 0px auto;

	form.footer-form {
		display: inline-block;
		margin: 0px 10px 50px auto;
		width: 200px;
		margin-right: 100px;

		p {
			font-size: 0.6em;
		}
	}
	ul {
		display: inline-block;
		width: 100px;
		vertical-align: top;
		margin-top: 0px;
		margin-right: 0px;

		li {
			text-align: left;
			margin-top: 0px;
			width: auto; height: auto;
			display: block !important;

			h6 {
				text-align: left;
				color: #72BF44;
				font-size: 14px;
				margin-top: 0px;
				margin-bottom: 20px;
				font-weight: 500;
			}
			a {
				text-align: left;
				font-size: 10px;
				font-weight: 300;
				display: block; float: left;
				width: 66px; height: auto;
				padding-bottom: 5px;
				margin-bottom: 5px !important;
				color: $nooch_lgray;
				border-bottom: 1px dotted $nooch-lgray;
			}
		}

		li:last-child {
			a:last-child {
				border-bottom: 0px;
			}
		}
	}

	#twitter-div {
		vertical-align: top;
		width: 300px;
		max-height: 175px;
		min-height: 100px;
		background-image: url(../images/footerimg/tweettop.png), 
		url(../images/footerimg/tweetbot.png), 
		url(../images/footerimg/tweetmid.png);
		background-repeat: no-repeat, no-repeat, repeat-y;
		background-position: top left, bottom left, center;
		overflow: visible;
		display: hidden !important;
		margin-left: 50px;

		a:link, a:visited {
			font-family: $body_font_family;
			color: $nooch_blue;
			line-height: 12px;
			text-decoration: none;
			float: right;
			margin-right: 20px;
			font-size: 12px 
		}
		
		ul {
			display: inline-block;
			padding: 0px;
			max-height: 100px;
			margin: 20px 35px 50px 35px;
			overflow: inherit;
			width: auto;

			a {
				display: none;
			}

			span {
				font: 300 12px $body_font_family;
				display: block;
				line-height: 160%;
				color: #6D6E71;
				overflow: inherit;

				a {
					font: 500 12px $body_font_family !important;
					color: #3FABE1 !important;
					text-decoration: none !important;
					border-bottom: 0px;
					display: inline !important;
					float: none !important;
					clear: none;
					margin-top: 0px;
					overflow: inherit;
				}
			}
		}
	}
}