/******************************************************************
Site Name: Nooch
Author: Tom Peduto

Stylesheet: 400px and down, used for phones oriented vertically

******************************************************************/

/*********************
OVERVIEW
*********************/
.overview-wrap {
	
	p {
		font: 300 0.8em/120% $body_font_family;
	}

	#bucket1 {
		padding: 130px 5% 0px 5%;

		#overview-play-button {
			width: 25%;
		}

		p {
			width: 75%;
		}
	}

}

/*********************
WORDPRESS
*********************/

.blog-wrap, .single-wrap {

	article {

		.attachment-mobile-image-600 {
			width: 300px; height: 300px;
			border: 1px solid $nooch_dgray;
			display: block;
			margin: auto;
		}

		.featured-image {
			display: none;
		}
	}

}