/******************************************************************
Site Name: Nooch
Author: Tom Peduto

Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

.mobile-only {
	display: none !important;
}

/*********************
HEADER STYLES
*********************/

.header {
	z-index: 800;
	height: 70px;
	border-bottom: 0px;
	position: fixed;
	opacity: .98;
	box-shadow: 0px 0px 8px #ccc;
	padding-bottom: 10px;

	a#logo {
		margin: 20px 0px 0px 15px;
	}

	#hamb-wrap {
		display: none;
	}
	nav#header-nav.tab-desk-only {
		display: inline-block;
		height: 100%;
		float: right;

		ul {
			display: block;
			background: transparent;
			height: 100% !important; margin: 0px auto;

			li:nth-child(2) {
				border-left: 1px solid $nooch_xlgray;
				border-right: 1px solid $nooch_xlgray;
			} li:nth-child(3) {
				border-right: 1px solid $nooch_xlgray;;
			}

			li {
				display: inline-block;
				width: auto; height: 100%;
				margin: 0px;
				padding: 30px 20px 0px 20px;

				a {
					font-size: 1em;
					color: $nooch_lgray;

				&.green {
					color: $nooch_green;
				}
				}
			}
		}
	}
}

nav.mobile-nav {
	display: hidden !important;
}

/*********************
SUBNAV
*********************/

.about-subnav {
	display: block;
	width: 50%; margin: auto 25%;

	ul {

		li {
			display: inline-block;
			width: 25%;
			text-align: center;

		&:last-child {
			width: 20%;
		} &:nth-child(2) {
			width: 30%;
		}

			a {
				display: inline-block;
				font: 500 12px $body_font_family;
				color: $nooch_dgray;
				text-align: center;
				vertical-align: middle;
				text-decoration: none;
				width: auto; margin: auto;
				padding-bottom: 5px;

			&.selected {
				font-weight: 700;
				color: $nooch_blue;
				border-bottom: 3px solid $nooch_blue;
			}
			}
		}
	}
}

.head-wrap {
		max-width: 800px;
		margin: 40px auto 50px auto;

	h1 {
		color: $nooch_dgray !important;
		font-size: 25px;
		display: block;
		width: 350px;
		margin: 0px auto 20px auto;
	}
}

.help-subnav {
	display: block;
	width: 50%; margin: auto 25%;

	ul {

		li {
			display: inline-block;
			width: 33.33%;
			text-align: center;

			a {
				display: inline-block;
				font: 500 12px $body_font_family;
				color: $nooch_dgray;
				text-align: center;
				vertical-align: middle;
				text-decoration: none;
				width: auto; margin: auto;
				padding-bottom: 5px;

			&.selected {
				font-weight: 700;
				color: $nooch_blue;
				border-bottom: 3px solid $nooch_blue;
			}
			}
		}
	}
}

.head-wrap {
		max-width: 800px;
		margin: 40px auto 50px auto;

	h1 {
		color: $nooch_dgray !important;
		font-size: 25px;
		display: block;
		width: 350px;
		margin: 0px auto 20px auto;
	}
}

/*********************
SLIDER
*********************/

#slider-id-wrapper {
	margin-top: 70px;
	width: 760px !important;
	max-width: 760px !important;
}

.full-width {
	display: block !important;
	height: 300px;
}

.slide {
	height: 300px;
	width: 760px;

	h2 {
		margin-bottom: 15px;
		margin-top: 60px;
		font: 1.8em $header_font_family;
		color: $nooch_purple;
		text-decoration: none;
	}

	p {
		font: 300 12px $body_font_family;
		color: $nooch_dgray;
	}
}

.button {
		text-decoration: none;
		padding: 8px 12px;
		border-radius: 12px;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		font: 500 16px $body_font_family;
		margin-top: 20px;
		display: inline-block;
		color: #fff !important;
	}

	.green-but {
		background: $nooch_green;
		border: 2px solid $nooch_dgreen;
	}
	.blue-but {
		background: $nooch_blue;
		border: 2px solid $nooch_dblue;
	}
	.purp-but {
		background: $nooch_purple;
		border: 2px solid $nooch_dpurple;
	}

#slide1 {
	padding-left: 106px;
	padding-right: 50px;
	background: url('../images/slide1-300.png') no-repeat;
	background-position: 50px 0px;

	div#playcontain {
		height: 100%;
		display: inline-block;
		vertical-align: top;
		margin-right: 100px;
	}
	div#textcontain {
		height: 100%;
		width: 380px;
		display: inline-block;
	}
}

#playbutton {
	opacity: .6;
	background: url('../images/playmid-300.png') no-repeat;
	font-size: 0px;
	width: 72px; height: 93px;
	display: block;
	margin-top: 100px;

	&:active, &:hover {
		opacity: 1;
	}
}

#slide2 {
	padding-left: 75px;
	padding-right: 175px;
	background: url('../images/phone1-300.png') no-repeat;
	background-position: 525px 0px;

	p {
		width: 380px;
	}
}

#slide3 {
	padding-left: 240px;
	padding-right: 50px;
	background: url('../images/phone2-300.png') no-repeat;
	background-position: 50px 0px;

	p {
		width: 380px;
	}
}

#slide4 {
	padding-left: 75px;
	padding-right: 175px;
	background: url('../images/phone3-300.png') no-repeat 500px;
	background-position: 525px 0px;

	p {
		width: 380px;
	}
}

/*********************
HOME
*********************/

.home-section-header, .section-header {
	line-height: 130%;
	display: block;
	padding-bottom: 3px;
	background: url('../images/small-color-bar.png') no-repeat;
	background-position: left bottom;
}

div#home-content-mid {
	font-size: 0;

	ul {
		box-sizing: border-box;
		max-width: 800px;
		margin: 0px auto;

		li {
			display: inline-block !important;
			width: 33% !important;
			vertical-align: top;
			padding-left: 100px !important;
			margin-top: 10px;  margin-bottom: 10px;

			h1 {
				font-size: 16px !important;
			}

			p {
				font-size: 12px !important;
			}
		}
	}
}

//Baseline Section Styles

div.section-wrapper {
	border-bottom: 1px solid $nooch_lgray;
	font-size: 0;
	max-width: 800px;
	margin: 0px auto 40px auto;
	display: block !important;
	padding-bottom: 40px;

	h1 {
		font-family: $header_font_family;
		color: $nooch_dgray;
		font-size: 25px;
		margin-left: 10px;
	}

	p.bodycopy, &>p  {
		font: 300 19px $body_font_family !important;
		color: #6D6E71;
		width: 570px;
		margin-left: 10px;
	}

	ul {
		box-sizing: border-box;
		max-width: 800px;
		margin: 0px auto;

		li {
			display: inline-block !important;
			width: 33% !important;
			vertical-align: top;
			margin-top: 10px;  margin-bottom: 10px;
			padding-top: 90px !important;

			p {
				font: normal 300 14px/140% $body_font_family;
				color: $nooch_dgray;
			}
		}
	}
}

//Quick and Easy

div#quickeasycontainer {
	
	ul {

		li {

			p {
				text-align: center;
			}
		}
	}

	#quick-bucket-1 {
		background-size: 130px 100px;
	}
	
	#quick-bucket-2 {
		background-size: 100px 100px;
	}

	#quick-bucket-3 {
		background-size: 100px 100px;
	}

	.quick-bucket-wrap {
		background-repeat: no-repeat;
		background-position: center top;
	}
}

//Anytime, Anywhere

div#anytimecontainer {
	
	ul {

		li {
			padding-left: 20px;
			padding-right: 20px;

			p {
				text-align: center;
			}
		}
	}

	#any-bucket-1 {
		background-size: 100px 100px;
	}
	
	#any-bucket-2 {
		background-size: 130px 100px;
	}

	#any-bucket-3 {
		background-size: 130px 100px;
	}

	.any-bucket-wrap {
		background-repeat: no-repeat;
		background-position: center top;
	}
}

//Safety & Security

div#safesecurecontainer {
	margin-bottom: 0px !important;
	border-bottom: 0px !important;


	ul {
		box-sizing: border-box;
		max-width: 800px;
		margin: 0px auto;

		li {
			padding-left: 20px;
			padding-right: 20px;

			p {
				text-align: center;
			}
		}
	}

	#safe-bucket-1 {
		background-size: 100px 100px;
	}
	
	#safe-bucket-2 {
		background-size: 100px 100px;
	}

	#safe-bucket-3 {
		background-size: 100px 100px;
	}
	.safe-bucket-wrap {
		background-repeat: no-repeat;
		background-position: center top;
	}
}

#awards-section {
	border-top: 2px solid $nooch_lgray;
	border-bottom: 2px solid $nooch_lgray;
	font-size: 0px;
	display: block;
	width: 100%;
	background: url(../images/stripe-background.png) repeat;
	padding: 20px 0px 30px 0px;

	ul {
		width: 100%;
		max-width: 800px;
		margin: auto;

		li {
			display: inline-block;
			width: 20%;

			img {
				display: block;
				margin: auto;
				filter: grayscale(100%);
				filter: gray;
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
				-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
				-webkit-transition: 0.2s all ease-in;
  				-o-transition: 0.2s all ease-in;
  				-moz-transition: 0.2s all ease-in;
  				transition: 0.2s all ease-in;

			&:hover, &:active{
				filter: none;
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
				-webkit-filter: grayscale(0%);
			}}

			h2 {
				font-family: $header_font_family;
				color: $nooch_dgray;
				font-size: 25px;
				margin-left: 10px;
			}
		}
	}

	li:first-child {
		display: block!important;
		width: 100%;
		text-align: left;
	}

	li:nth-child(5) {
		display: none;
	}
}

/*********************
BASELINE PAGE STYLES
*********************/

.page-baseline {
	font-size: 0;
	padding-top: 70px;
	border-bottom: 0px;
}

.blog-page {
	padding-top: 70px;
}

.section-wrapper {
	h4 {
		text-transform: uppercase;
		font: 16px/120% $header_font_family;
		color: $nooch_dgray;
		text-align: center;
	}
}

/*********************
OVERVIEW
*********************/

.overview-wrap {
	background: white;

	.about-content {
		font-size: 10px;
		background: url('../images/overview-bg.png') no-repeat left top;
    	background-size: 100%, auto;
    	width: 750px;
    	min-height: 1275px;
    	margin: auto auto -30px auto;

    	#vid-container {
    		margin: 92px 0px 0px 90px;
    		display: inline-block;
    		width: 180px; height: 270px;

    		iframe {
    			width: 100%; height: 100%;
    		}
    	}

		#bucket1 {
			background: transparent;
			display: inline-block;
			padding: 0px 0px 160px 0px;
			width: auto; height: auto;
			vertical-align: top;

			#bucket1h1, #bucket1h2 {
				display: block;
				color: $nooch_purple;
			}

			#bucket1h1 {
				font: 900 10em/80% $body_font_family;
				margin: 20px 0px 0px 50px;
			}

			#bucket1h2 {
				font: 3.4em/80% $header_font_family;
				margin: 10px 0px 0px 52px;
				text-align: left;
			}

			p {
				font-size: 2em;
				margin: 20px 0px 0px 46px;
			}
		}

		#bucket2h2, #bucket3h2 {
			font-size: 3.4em;
			color: $nooch_purple;
		}

		#bucket2h2 {
			text-align: left;
			margin: 0px 0px 20px 100px;
		}

		#bucket2p, #bucket3p, #bucket4p {
			font-size: 2em;
			background: transparent;
		}

		#bucket2p {
			margin: 0px 0px 80px 100px;
			padding: 0px;
			width: 340px;
		}

		#bucket3h2, #bucket3p {
			text-align: left;
		}

		#bucket3h2 {
			margin: 0px 0px 20px 360px;
		}

		#bucket3p {
			margin: 0px 0px 20px 360px;
			padding: 0px;
			width: 370px;
			margin-bottom: 170px;
		}

		#bucket4h2 {
			font-size: 2.8em;
			color: $nooch_purple;
			margin-bottom: 20px;
		}
	}
}

/*********************
HOW IT WORKS
*********************/
.how-wrap {

	p {
		font: 300 18px $body_font_family;
		text-align: left;
		border-bottom: 0px !important;
	}

	ul#how-buckets {
		max-width: 800px;
		width: 100%;

		li {
			display: inline-block !important;
			width: 40% !important;
			margin: 10px 5% !important;
			min-height: 150px;
			vertical-align: top;

			p:not(:first-child) {
				font-size: 14px;
				padding-left: 50px;
				text-align: left;
				min-height: 88px;
				border-bottom: 1px solid $nooch_xlgray;
				padding-bottom: 30px;
				margin-bottom: 40px;
			}
		}
	}
}

/*********************
SECURITY
*********************/

.secure-wrap {
	font-size: 0;
	padding-top: 70px;
	border-bottom: 0px;

	ul#secure-buckets {
		padding-top: 150px;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 150px 100px;
		box-sizing: border-box;
		max-width: 800px;
		margin: 0px auto;

		li {
			display: inline-block !important;
			width: 33% !important;
			vertical-align: top;
			margin-top: 10px;  margin-bottom: 10px;
			padding-top: 90px !important;

			p {
				font: normal 300 14px/140% $body_font_family;
				color: $nooch_dgray;
			}	

			&#safe-bucket-1 {
				background: url('../images/safesecure1-2x.png') no-repeat center top;
				background-size: 100px 100px;
			}
	
			&#safe-bucket-2 {
				background: url('../images/safesecure2-2x.png') no-repeat center top;
				background-size: 100px 100px;
			}

			&#safe-bucket-3 {
				background: url('../images/safesecure3-2x.png') no-repeat center top;
				background-size: 100px 100px;
			}
		}
	}
}

/*********************
TEAM
*********************/

.team-wrap {
	width: 100% !important;

	.wp-post-image {
		width: 110px;
		height: auto;
	}

	ul#team-buckets {
		max-width: 800px;
		padding-top: 150px;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 150px 100px;

		li {
			display: inline-block;
			width: 50%;
			max-width: 400px;
			min-height: 220px;
			vertical-align: top;

			&.pic-right {
				padding-left: 15px;
				background-position: right top;
			}

			&.pic-left {
				padding-right: 15px;
				background-position: left top;
			}

			h1 {
				font-size: 20px;
				text-align: inherit;
			}

			h2 {
				font: 700 16px $body_font_family;
				margin-bottom: 5px;
				text-align: inherit;
			}

			p{
				font: 300 12px $body_font_family;
			}
		}
	}
}

/*********************
CONTACT US
*********************/

.contact-wrap {

	#contact-content-wrapper {
	 	max-width: 800px;
	 }

	 .first-third {
	 	padding-top: 200px;
	 	padding-left: 10px;
	 	background: url('../images/contactus-env.png') no-repeat left top;
	 	background-size: 225px 150px;
	 	width: 30%;
	 	font-size: 12px;
	 	margin-bottom: 40px;
	 	display: inline-block;

	 	a {
	 		background: none;
	 		background-image: none !important;
	 		display: inline-block;
	 		width: auto; height: auto;
	 		font: 500 16px/120% $body_font_family;
	 		margin-bottom: 30px;
	 		text-decoration: none;
	 		color: $nooch_blue;
	 	}
	}

	form {
		margin-bottom: 40px;
		padding-right: 2.5%;
	}

	.second-third {
	 	display: inline-block;
	 	width: 65%;
	 	margin-left: 5%;
	 	vertical-align: top;
	 	font-size: 12px;

	 	h2 {
	 		font-size: 26px;
	 		text-align: left;
	 		margin-top: 0px;
	 	}

	 	small {
	 		font-size: 11px;
	 		text-align: left;
	 	}

	 	input, textarea {
	 		width: 100%;
	 		font-size: 16px;
	 		padding-left: 20px;
	 		border-radius: 5px;
	 		margin: 0px 0px 10px 0px;
	 	}

	 	textarea {
	 		height: 200px;
	 	}

		#contactus-submit {
			width: 18%; height: 30px;
			margin: 20px 0px 0px 82%;
		}
	}
}


/*********************
FAQ
*********************/

.faq-wrap {

	article {
		padding-top: 120px;
		background: url('../images/faqheader.png') no-repeat center top;
		background-size: 150px 100px;
		width: 100%;

		#faq-list{
			max-width: 800px;
			margin: auto;

			li.li-level-1 {
				margin-bottom: 20px;
				cursor: pointer;

				h2 {
					height: 40px;
					font: 30px/120% $header_font_family;
					background-position: 5px 0px;
					display: inline-block;


					&.selected {
						background-position: 5px 0px;
					}
				}

				ul {
					display: none;

				&.ul-level-2 {
					margin-top: 30px;
				}

					li {
						margin-bottom: 30px;

						h3 {
							height: 30px;
							background-size: 30px 30px;
							padding-left: 35px;

						&.selected {
							background-size: 30px 30px;
						}
						}

						ul {
							margin-top: 30px;

							li {
								padding: 0px 20px;
								cursor: text;
							}
						}	
					}
				}
			}
		}

		

		h3, a {
			font: 500 24px/120% $body_font_family;
			margin-bottom: 20px;
		}

		a {
			font: 300 18px/140% $body_font_family;
			text-decoration: underline;

		&.more-help {
			display: block;
			text-align: center;
			color: $nooch_blue;
		}
		}

		.li-level-3 {
			font: 300 18px/140% $body_font_family;
			color: $nooch_dgray;
			padding-bottom: 20px;
		}
	}
}

/*********************
REQUEST AN INVITE
*********************/

.request-wrap {
	max-width: 800px;
	margin: 0px auto 40px auto;

	.body {
		font: 500 14px/120% $body_font_family;
		padding: 0px 5% 20px 5%;
		text-align: left;
		max-width: none;
		margin-bottom: 40px;
	}

	form {
		display: block;
		margin: 0px auto;
		box-sizing: border-box;
		width: 90%;

		#request-submit {
			width: 80px; height: 40px;
			display: block;
			margin-left: 600px;
			text-align: center;
			font-size: 14px;
		}

		h1 {
			font-size: 24px;
			padding-left: 15px;
			text-align: left;
		}

		p {
			font: 300 14px/170% $body_font_family;
			text-align: left;
			padding: 0px 15px;

			input {
				width: 180px;
				font: 500 14px/170% $body_font_family;
				text-align: center;
			}
		}
	}
}


/*********************
BLOG
*********************/

@media only screen and (min-width: 820px) {
	.bottom-nav-wrap {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.outer-wrap {
	font-size: 0;
	width: 100%;
	max-width: 800px;
	margin: auto;
}

.blog-wrap {
	padding-top: 0px !important;
	width: 75%;
	max-width: 600px;
	display: inline-block;

	article {
		font: 1em/120% $body_font_family;
		color: $nooch_dgray;
		width: 100%;
		max-width: 600px;
		text-align: left;
		margin-left: 0px;

		header{
			width: 100%;
			margin-bottom: 20px;
		}

		.team-profile-pic {
			display: inline-block;
			margin-top: 5px;
			margin-right: 20px;
			border: 1px solid $nooch_dgray;
		}

		.featured-image {
			vertical-align: top;
			max-width: 100%;
			display: block;
			margin: auto;
		}

		.entry-header-link {
			max-width: 480px;
			vertical-align: top;
			font-size: 22px;
			display: inline-block;

			h2 {
				color: $nooch_purple;
				margin: 0px;
				vertical-align: top;
				
			}
		}

		p {
			font-size: 16px;
			line-height: 22px;
			font-weight: 300;
		}

		.feat-img {
			box-sizing: border-box;
			border: 3px solid $nooch_dgray;
			max-width: 600px;
		}

		.excerpt-read-more {
			display: block;
			margin-left: 0px;
			width: 100px;
		}
	}
}

.outer-wrap nav.tab-desk-only {
	display: block;
}

.bottom-nav-wrap.tab-desk-only {
	display: block;
}

.bottom-nav-wrap {
	position: relative;
	max-width: 800px;
	margin: auto;

		.nav-numbers {
			width: 300px;
			margin-left: -150px;
			position: absolute;
			top: 5px;
			left: 50%;
			text-align: center;
			margin-bottom: 10px;

			a {
				font: 500 1em/120% $body_font_family;
				color: $nooch-blue;
				text-decoration: none;
			}
		}

		#previous-wrap, #next-wrap {
			width: 50%;
			display: inline-block;
		}

		#next-wrap {
			text-align: right;
		}

		#previous-wrap a, #next-wrap a {
			font: 500 .8em/120% $body_font_family;
			text-decoration: none;
			border: 1px solid $nooch_dgreen;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			padding: 15px 5%;
			color: white;
			margin-top: -0.25em;
			padding: .25em .5em;

			background: -webkit-gradient(linear,left top,left bottom,color-stop(0,$nooch_lgreen),color-stop(100%,$nooch_green));
			background: -webkit-linear-gradient(top,$nooch_lgreen 0,$nooch_green 100%);
			background: -o-linear-gradient(top,$nooch_lgreen 0,$nooch_green 100%);
			background: linear-gradient(top,$nooch_lgreen 0,$nooch_green 100%);
		}

	}

/**SINGLE**/

#inner-content {
	padding-top: 110px;
	width: 100%;
	max-width: 800px !important;
	margin: auto;
	display: block;
}

.single-wrap {
	padding-top: 0px !important;
	width: 75%;
	max-width: 600px;
	display: inline-block;

	a {
		text-decoration: none;
	}

	article {
		font: 1em/120% $body_font_family;
		color: $nooch_dgray;
		width: 100%;
		max-width: 600px;
		text-align: left;
		margin-left: 0px;

		header{
			width: 100%;
			margin-bottom: 20px;
		}

		.team-profile-pic {
			display: inline-block;
			margin-top: 5px;
			margin-right: 20px;
			border: 1px solid $nooch_dgray;
		}

		.featured-image {
			vertical-align: top;
			max-width: 100%;
			display: block;
			margin: auto;
		}

		h2 {
			display: inline-block;
			width: 480px;
			color: $nooch_purple;
			margin: 0px;
			vertical-align: top;
		}
	

		p {
			font-size: 16px;
			line-height: 22px;
			font-weight: 300;
		}

		.feat-img {
			box-sizing: border-box;
			border: 3px solid $nooch_dgray;
			max-width: 600px;
		}
	}
}

/*********************
404
*********************/

.killbot {
	background: url('../images/killerbot.png') no-repeat 0px 100px;
	background-size: 300px 300px;
	min-height: 400px;
	padding-left: 400px;

	h1 {
		display: block;
		color: $nooch_purple;
		font-size: 30px;
		padding-bottom: 3px;
		wdith: 600px;
		background: url("../images/small-color-bar-long.png") no-repeat;
		background-position: left bottom;
	}
	p {
		padding: 0px;
	}
}

.killbot-mobile {
	display: none;
}

/*********************
PLUGINS
*********************/

#sharing_email {
	width: 312px !important;
	margin-left: -156px !important;
	left: 50% !important;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	font-size: 12px;
	float: none;
	margin: 0px;
	vertical-align: top;
	width: 25%;
	max-width: 200px;
	padding: 0px 0px 40px 40px;
	display: inline-block;
	text-align: left;
	border: 0px !important;
	background: transparent;

	form {
		display: block;
		max-width: 320px;
		margin-left: auto; margin-right: auto;

		input:not(#searchsubmit) {
			width: 100%; height: 30px;
			display: block;
			margin: 0px 0px 10px 0px;
			font-size: 15px;
		}

		#searchsubmit {
			display: none;
		}
	}

	#recent-comments-2 {
		display: none;
	}

	.screen-reader-text {
		font-size: 0;
	}

	.widgettitle {}

	.widget {

		ul {

			li {

				a {
					font: 500 1em/120% $body_font_family;
					color: $nooch_blue;
					text-decoration: none;
				}

			}

		}

	}
}

/*********************
FOOTER STYLES
*********************/
#content {
	margin: 0px;
}

#container {
	min-height: 100%;
	margin-bottom: -375px;

	.footer-clear {
		height: 375px;
	}
}

footer.footer div#inner-footer {
	form.footer-form {
		display: block;
		margin: 0px auto 50px auto;
		width: 50%;
	}

	ul {
		display: inline-block;
		width: 30%;
		vertical-align: top;
		margin-top: 0px;
		margin-right: 5%;

		li {
			margin-top: 0px;
			display: block !important;

			h6 {
				display: block !important;
				margin-top: 0px;
				line-height: 100%;
				font-weight: 700;
				font-size: 1.5em;
			}
			a {
				font-size: 1em;
				font-weight: 500;
				line-height: 120%;
				background: none;
				text-indent: 0px;
				width: auto; height: auto;

			}
		}
	}

	ul#social-list {
		margin: 0px;
	}
}
 /* end .footer-links */

