/******************************************************************
Site Name: Tom Peduto
Author: Nooch

Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/
html {
	min-height: 100%;
	margin: 0px;
  	height:100%;
  	position: relative;
}

body {
	min-height: 100%;
	margin: 0px;
  	height:100%;
  	position: relative;
}

body {
	margin-bottom: -10px;
	background: url('../images/background.png') repeat;
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: #565656;
}

#container {
	box-sizing: content-box;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-color;
	}

	/* on click */
	&:active {
		color: $li_active_color;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $header_font_family;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/
.darker-boarder {
	border-color: $nooch_lgray !important;
}
.header {
	background: white;
	width: 100%; height: 50px;
	border-bottom: 1px solid $nooch_xlgray;
	display: block;
	margin: 0px; padding: 0px;

	#logo {
		z-index: 999;
		display: inline-block;
		width: 110px; height: 35px;
		background: url(../images/header-logo2x.png) no-repeat;
		background-size: 100% 100%;
		margin: 8px 0px 0px 15px;
	}

	#hamb-wrap {
		width: 34px; height: 26px;
		display: inline-block;
		margin: 12px 10px 0px 0px;

		.hamb-stripe {
			width: 100%; height: 24%;
			display: block;
			margin: 0px;
			background-color: $nooch_lgray;
			border-radius: 4px;
			-webkit-transition: background-color .5s linear;
			-moz-transition: background-color .5s linear;
			transition: background-color .5s linear;
		}

		#hamb-top, #hamb-mid {
			margin-bottom: 14%; 
		}

		.blue {
			background-color: $nooch_blue !important;
			-webkit-transition: background-color .5s linear;
			-moz-transition: background-color .5s linear;
			transition: background-color .5s linear;
		}
		.green {
			background-color: $nooch_green !important;
			-webkit-transition: background-color .5s linear;
			-moz-transition: background-color .5s linear;
			transition: background-color .5s linear;
		}
		.purp {
			background-color: $nooch_purple !important;
			-webkit-transition: background-color .5s linear;
			-moz-transition: background-color .5s linear;
			transition: background-color .5s linear;
		}
	}
}

.ul-border {
	border-bottom: 1px solid $nooch_lgray;
}

.no-js #header-nav {
	ul {
		width: 100%;
		display: block;
		margin: 0px;
		padding: 15px 0px;
		background: url(../images/stripe-background.png) repeat;
		border-bottom: 2px solid $nooch_lgray;
		overflow: hidden;

		li {
			display: block;
			width: 100%;
			text-align: center;

			a {
				font: normal 1.3em/130% $header_font_family;
				text-decoration: none;
				color: $nooch_dgray;

				&.active{
					color: $nooch_blue;
				}
			}
		}	
	}
}

.js #header-nav {
	ul {
		width: 100%; height: 0px;
		display: block;
		margin: 0px; padding: 0px;
		background: url(../images/stripe-background.png) repeat;
		overflow: hidden;

		li:first-child {
			margin-top: 15px;
		}

		li:last-child {
			margin-bottom: 15px;
		}

		li {
			display: block;
			width: 100%;
			text-align: center;

			a {
			   font: normal 1.3em/130% $header_font_family;
			   text-decoration: none;
			   color: $nooch_dgray;

			   	&.active{
			   		color: $nooch_blue;
			   	}
			}
		}
	}
}

/*********************
HOME
*********************/
.content-container {
	width: 100%;
	padding: 1em 2.5%;
	display: block;
}

#home-content-top {
	background: white;

	h1 {
		margin: 0px; padding: 0px 0px 0.67em 0px; //fix for wierd top margin bug
		font: normal 1.5em/130% $header_font_family;
		color: $nooch_purple;
		text-align: center;
	}

	#main-body-image {
		width: 205px; height: 160px;
		background: url('../images/main-body-img2x.png') no-repeat;
		background-size: 205px 160px;
		margin: 0px auto;
	}

	#main-body-button {
		width: 58%;
		max-width: 180px;
		text-align: center;
		display: block;
		margin: 35px auto 0px auto;
		padding: 3px 0px;
		font: normal 1em/200% $header_font_family;
		background: $nooch_blue;
		color: white;
		border-radius: 4px;
		border: 2px solid $nooch_dblue;
		text-decoration: none;
	}

	p {
		margin-top: 30px;
		max-width: 300px;
		font: normal 1em/140% $body_font_family;
		color: $nooch_dgray;
		text-align: center;
		margin: 30px auto 0px auto;
	}

	#main-body-link {
		font: normal 1em/140% $body_font_family;
		color: $nooch_blue;
		text-align: center;
		display: block;
		width: 100%;
	}

}

#section-divider {
	background: url('../images/divider.png') repeat-x;
	width: 100%; height: 22px;
}

#home-content-mid {

	ul {
		max-width: 350px;
		margin: 0px auto;
		display: block;
	}

	.bucket-wrap {
		display: block;
		background-size: 100px 100px;
		background-repeat: no-repeat;
		width: 100%; min-height: 100px;
		padding-left: 6.5em;

		h1 {
			font:  normal 1.2em $header_font_family;
			color: $nooch_purple;
			margin-top: 0px; padding-top: 0.67em;
		}

		p {
			font: normal 0.8em/140% $body_font_family;
			color: $nooch_dgray;
		}
	}
}

.m-green-but {
		width: 58%;
		max-width: 180px;
		text-align: center;
		display: block;
		margin: 15px auto 15px auto;
		padding: 3px 0px;
		font: normal 1em/200% $header_font_family;
		background: $nooch_green;
		color: white;
		border-radius: 4px;
		border: 2px solid $nooch_dgreen;
		text-decoration: none;

		&:hover, &:active {
			color: white;
		}
	}

#awards-section {
	display: none;
}

/*********************
BASELINE PAGE STYLES
*********************/

.section-header {
	text-align: center;
	font: 2em;
	color: $nooch_purple;
}

.page-baseline {
	width: 100%; height: 100%;
}

/*********************
OVERVIEW
*********************/
.overview-wrap {
	background: transparent;

	#bucket1 {
		box-sizing: border-box;
		max-width: 420px;
		display: block;
		margin: auto;
		padding-top: 130px;
		background: url('../images/money-made-simple.png') no-repeat center 30px;
		background-size: 200px 80px;

		#bucket1h1, #bucket1h2 {
			display: none;
		}

		#overview-play-button {
			display: inline-block;
			width: 18.75%;
			vertical-align: top;

			img {
				opacity: 0.6;
				width: 100%; height: auto;

				&:hover, &:active, &:focus {
					opacity: 1;
				}
			}
		}

		p {
			margin: 0px;
			padding-left: 10px;
			vertical-align: top;
			text-align: left;
			display: inline-block;
			width: 81.25%;
		}
	}


	h2{
		font: 1.2em/120% $header_font_family;
		text-align: center;
		max-width: 420px;
		margin: auto;
	}

	p {
		font: 300 1em/120% $body_font_family;
		color: $nooch_dgray;
		text-align: center;
		max-width: 420px;
		margin: auto auto 30px auto;
		padding: 0px 5%;

		&#bucket2p {
			text-align: left;
			background: url('../images/anytimeanywhere2x.png') no-repeat right top;
			background-size: 85px 85px;
			padding-right: 85px; 
		}

		&#bucket3p {
			text-align: left;
			background: url('../images/safesecure2x.png') no-repeat left top;
			background-size: 85px 85px;
			padding-left: 85px; 
		}
	}
}

/*********************
HOW IT WORKS
*********************/
.how-wrap {

	p {
		margin-top: 30px;
		max-width: 300px;
		font: normal 1em/140% $body_font_family;
		color: $nooch_dgray;
		text-align: center;
		margin: 30px auto 0px auto;
	}

	ul#how-buckets {
		max-width: 350px;
		margin: 0px auto;
		display: block;

		li {
			display: block;
			width: 100%;

			&:not(:first-child) {
				margin-top: 15px;
				padding-top: 120px;
			}

			&#how-bucket-1 {
				margin-top: 40px;
				background: url('../images/howitworks1-2x.png') no-repeat center top;
				background-size: 150px 100px;

				p{
					background: url('../images/num1-2x.png') no-repeat left top;
					background-size: 50px 50px;
					margin-top: 0px;
				}
			}

			&#how-bucket-2 {
				margin-top: 40px;
				background: url('../images/howitworks2-2x.png') no-repeat center top;
				background-size: 150px 100px;

				p{
					background: url('../images/num2-2x.png') no-repeat left top;
					background-size: 50px 50px;
					margin-top: 0px;
				}
			}

			&#how-bucket-3 {
				background: url('../images/howitworks3-2x.png') no-repeat center top;
				background-size: 150px 100px;

				p{
					background: url('../images/num3-2x.png') no-repeat left top;
					background-size: 50px 50px;
					margin-top: 0px;
				}
			}

			&#how-bucket-4 {
				background: url('../images/howitworks4-2x.png') no-repeat center top;
				background-size: 150px 100px;

				p{
					background: url('../images/num4-2x.png') no-repeat left top;
					background-size: 50px 50px;
					margin-top: 0px;
				}
			}

			&#how-bucket-5 {
				background: url('../images/howitworks5-2x.png') no-repeat center top;
				background-size: 150px 100px;

				p{
					background: url('../images/num5-2x.png') no-repeat left top;
					background-size: 50px 50px;
					margin-top: 0px;
					border: 0px !important;
					margin-bottom: 20px;
				}
			}

			p:not(:first-child) {
				font-size: 0.8em;
				padding-left: 50px;
				text-align: left;
				min-height: 50px;
				border-bottom: 1px solid $nooch_xlgray;
				padding-bottom: 30px;
				margin-bottom: 40px;	
			}
		}
	}
}

/*********************
SECURITY
*********************/

.secure-wrap {

	ul#secure-buckets {
		max-width: 350px;
		margin: 0px auto;
		display: block;

		li {
			display: block;
			width: 100%;
			padding: 100px 5% 0px 5%;
			margin-bottom: 40px;
			background-size: 100px 100px;
			background-repeat: no-repeat;
			background-position: center top;

			p{
				margin-top: 0px;
				font: 300 0.8em $body_font_family;
				color: $nooch_dgray;
				text-align: center;
			}
		}
	}
}

/*********************
TEAM
*********************/

.team-wrap {
	width: 95% !important;
	margin-left: auto; margin-right: auto;

	.wp-post-image {
		display: inline-block;
		width: 90px;
		height: 180px;
		vertical-align: top;
		margin-top: 40px;
	}

	.bio-wrap {
		display: inline-block;
		max-width: 200px;
	}

	.pic-left {
		article {
			margin-left: 10px;
		}
	}

	.pic-right {
		text-align: right;

		article {
			margin-right: 10px;
		}
	}

	.ind-social-wrap {
		margin-bottom: 5px;

		a:not(:first-child) {
			img{
				margin-left: 10px;
			}
		}
	}

	ul#team-buckets {
		max-width: 400px;
		margin: 0px auto;
		display: block;

		li {
			position: relative;
			display: block;
			width: 100%;
			max-width: 320px;
			margin: auto;
			min-height: 228px;
			margin-bottom: 40px;
			background-repeat: no-repeat;
			background-size: 90px 180px;

			h1 {
				color: $nooch_purple;
				font-size: 1.5em;
				line-height: 120%;
				margin: 0px;
			}

			h2 {
				color: $nooch_dgray;
				font: 700 1em $body_font_family;
				margin-bottom: 5px;
			}

			p{
				margin-top: 0px;
				font: 300 0.7em $body_font_family;
				color: $nooch_dgray;
				text-align: inherit;
			}
		}
	}
}


/*********************
FAQ
*********************/

.faq-wrap {

	.exp-cont-wrap {
		width: 180px;
		margin: auto;
		padding-bottom: 30px;

		a {
			text-align: center;
			font-weight: 500;
			box-sizing: border-box;
			text-decoration: none;
			padding: 10px 10px;
			width: 90px;
			background-color: $nooch_xlgray;
			color: $nooch_lgray !important;
			border: 2px solid $nooch_lgray;

		&.actionable {
			background-color: $nooch_blue;
			color: #fff !important;
			border: 2px solid $nooch_dblue;
		}

		&#collapse-all{
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}

		&#expand-all{
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}}
	}

	article {
		width: 100%;
		margin: auto auto 20px auto;

		#faq-list{

			li.li-level-1 {
				margin-bottom: 5px;
				cursor: pointer;

				h2 {
					color: $nooch_dgray;
					padding-left: 40px;
					margin: 0px;
					background: url('../images/expand.png') no-repeat 5px 5px;
					background-size: 30px 30px;
					-webkit-transition: 0.2s all ease-in;
  					-o-transition: 0.2s all ease-in;
  					-moz-transition: 0.2s all ease-in;
  					transition: 0.2s all ease-in;


					&.selected {
						color: $nooch_blue;
						background: url('../images/contract.png') no-repeat 5px 5px;
						background-size: 30px 30px;
						-webkit-transition: 0.2s all ease-in;
  						-o-transition: 0.2s all ease-in;
  						-moz-transition: 0.2s all ease-in;
  						transition: 0.2s all ease-in;
					}
				}

				ul {
					display: none;

				&.ul-level-2 {
					margin-left: 20px;
				}

					li {
						margin-bottom: 10px;

						h3 {
							color: $nooch_dgray;
							padding-left: 25px;
							margin: 0px;
							background: url('../images/expand.png') no-repeat 0px 0px;
							background-size: 20px 20px;
							-webkit-transition: 0.2s all ease-in;
  							-o-transition: 0.2s all ease-in;
  							-moz-transition: 0.2s all ease-in;
  							transition: 0.2s all ease-in;

						&.selected {
							color: $nooch_blue;
							background: url('../images/contract.png') no-repeat 0px 0px;
							background-size: 20px 20px;
							-webkit-transition: 0.2s all ease-in;
  							-o-transition: 0.2s all ease-in;
  							-moz-transition: 0.2s all ease-in;
  							transition: 0.2s all ease-in;
						}
						}

						ul {

							li {
								padding: 0px 20px;
								cursor: text;
							}
						}	
					}
				}
			}
		}

		

		h3, a {
			font: 700 1.2em/120% $body_font_family;
			color: $nooch_dgray;
			margin-bottom: 20px;
		}

		a {
			font-size: 1em;
			text-decoration: underline;

		&.more-help {
			display: block;
			text-align: center;
			color: $nooch_blue;
			font-family: $body_font_family;
		}
		}

		.li-level-3 {
			font: 300 1em/120% $body_font_family;
			color: $nooch_dgray;
			padding-bottom: 20px;
		}

		.li-level-3:not(:last-child) {
			margin-bottom: 40px;
			border-bottom: 1px solid $nooch_xlgray;
		}
	}
}

/*********************
CONTACT
*********************/

.contact-wrap {
	 width: 100%;

	 #contact-content-wrapper {
	 	max-width: 380px;
	 	margin: auto;
	 }

	 .first-third {
	 	width: 100%;
	 	font-size: 0;
	 	margin-bottom: 40px;

	 	a {
	 		background-position: center top;
	 		background-repeat: no-repeat;
	 		background-size: 50px 50px;
	 		display: inline-block;
	 		width: 33.33%; height: 50px;

	 	&:first-child {
	 		background-image: url('../images/contactus-help.png');
	 	}
	 	&:nth-child(2) {
	 		background-image: url('../images/contactus-phone.png');
	 	}
	 	&:last-child {
	 		background-image: url('../images/contactus-mail.png');
	 	}
	 	}
	}

	form {
		margin-bottom: 40px;
	}

	.second-third {
	 	width: 100%;

	 	h2 {
	 		font: 1.2em/120% $header_font_family;
	 		color: $nooch_dgray;
	 		margin-bottom: 10px;
	 		text-align: center;
	 	}

	 	small {
	 		font: 500 0.7em/120% $body_font_family;
	 		color: $nooch_dgray;
	 		text-align: center;
	 		margin-bottom: 20px;
	 		display: block;

	 		span {
	 			color: $nooch_purple;
	 		}
	 	}

	 	input, textarea {
	 		font: 300 0.8em/120% $body_font_family;
	 		padding-left: 20px;
	 		border-radius: 5px;
	 		margin: 0px 5% 10px 5%;
	 		width: 90%; height: 32px;
	 		outline-offset: 0px;
	 		border: 1px solid $nooch_lgray !important;
	 	}

	 	textarea {
	 		height: 80px;
	 	}

	 	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  			color: #636363;
		}
		
		input:-moz-placeholder, textarea:-moz-placeholder {
  			color: #636363;
		}

		#contactus-submit {
			width: 20%; height: 30px;
			margin: 20px 5% 0px 75%;
			background-color: $nooch-blue;
			border: solid 1px $nooch-dblue !important;
			color: white;
			padding-left: 0px; padding-right: 0px;
			text-align: center;
			font-size: 11px;
		}
	}
}

/*********************
REQUEST AN INVITE
*********************/

.request-wrap {
	width: 100%;

	.body {
		font: 500 0.8em/120% $body_font_family;
		padding: 0px 5% 20px 5%;
		border-bottom: 1px solid $nooch_xlgray;
		text-align: center;
		max-width: 380px;
		margin: auto;
	}

	form {
		margin: 0px 5%;
		box-sizing: border-box;
		background: white;
		border: 2px solid $nooch_dgray;
		border-radius: 5px;
		padding-bottom: 20px;
		margin-bottom: 40px;

		#request-submit {
			width: 25%; height: 30px;
			display: block;
			margin: auto;
			background-color: $nooch-blue;
			border: solid 1px $nooch-dblue !important;
			border-radius: 5px;
			color: white;
			padding-left: 0px; padding-right: 0px;
			text-align: center;
			font-size: 11px;
		}

		h1 {
			font-size: 1.5em;
			color: $nooch_green;
			text-align: center;
		}

		p {
			font: 300 0.9em/170% $body_font_family;
			text-align: center;
			padding: 0px 5%;

			span {
				font-weight: 500;
				color: $nooch-blue;
			}

			input {
				font: 500 0.9em/170% $body_font_family;
				text-align: center;
				color: $nooch-dblue;
				text-transform: none;
				text-indent: 0px;
				text-shadow: none;
				border: none;
				background: transparent;
				border-bottom: 1px solid $nooch_dgray;
			}
		}
	}
}

/*********************
BLOG
*********************/

.blog-wrap {

	article {
		width: 90%;
		margin: auto;
		text-align: center;
		padding-bottom: 20px;
		margin-bottom: 20px;
		
	&:not(:last-child) {
		border-bottom: 1px solid $nooch_xlgray;
	}

		.entry-header-link {
			text-decoration: none;

			h2 {
				font: 1.5em/120% $header_font_family;
				color: $nooch_blue;
			}
		}

		p {
			font: 1em/120% $body_font_family;
			color: $nooch_dgray;
		}

		.feat-img {
			box-sizing: border-box;
			border: 1px solid $nooch_dgray;
			max-width: 100%; height: auto;
		}

		.attachment-mobile-image-600 {
			display: none;
		}

		.excerpt-read-more {
			display: block;
			margin: 20px auto;
			font-weight: 500;
			text-decoration: none;
		}
	}
}

.bottom-nav-wrap {
		padding: 0px 5% 40px 5%;

		.nav-numbers {
			text-align: center;
			margin-bottom: 10px;

			a {
				font: 500 1em/120% $body_font_family;
				color: $nooch-blue;
				text-decoration: none;
			}
		}

		#previous-wrap, #next-wrap {
			width: 50%;
			display: inline-block;
		}

		#next-wrap {
			text-align: right;
		}

		#previous-wrap a, #next-wrap a {
			font: 500 .8em/120% $body_font_family;
			text-decoration: none;
			border: 1px solid $nooch_dgreen;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			padding: 15px 5%;
			color: white;
			margin-top: -0.25em;
			padding: .25em .5em;

			background: -webkit-gradient(linear,left top,left bottom,color-stop(0,$nooch_lgreen),color-stop(100%,$nooch_green));
			background: -webkit-linear-gradient(top,$nooch_lgreen 0,$nooch_green 100%);
			background: -o-linear-gradient(top,$nooch_lgreen 0,$nooch_green 100%);
			background: linear-gradient(top,$nooch_lgreen 0,$nooch_green 100%);
		}

	}

/**SINGLE**/

.single-wrap {

	article {
		width: 90%;
		margin: auto;
		text-align: center;
		padding-bottom: 20px;
		margin-bottom: 20px;

		blockquote {
			font-size: 0.8em;
			font-weight: 100;
		}
		
	&:not(:last-child) {
	}

		h2 {
			font: 1.5em/120% $header_font_family;
			color: $nooch_blue;
		}

		p {
			font: 1em/120% $body_font_family;
			color: $nooch_dgray;
		}

		.feat-img {
			box-sizing: border-box;
			border: 1px solid $nooch_dgray;
			max-width: 100%; height: auto;
		}

		.attachment-mobile-image-600 {
			display: none;
		}

		.excerpt-read-more {
			display: block;
			margin: 20px auto;
			font-weight: 500;
			text-decoration: none;
		}

		footer {
			box-shadow: none;

			a {
					text-decoration: none;
					color: $nooch_blue;
				}

			.tags {
				.tags-title{
					font-weight: 700px;
				}
			}
			.single-nav {
				margin-top: 20px;
				text-align: left;

				a {
					display: inline-block;
					width: 50%;
					vertical-align: top;
					font-size: 0.7em;
				}
				a:first-child {
					padding-right: 20%;
				}
				a:last-child {
					&:not(:first-child) {
					padding-left: 20%;
					text-align: right;
				}}
			}
		}
	}
}

.bottom-nav-wrap {
		padding: 0px 5% 40px 5%;

		.nav-numbers {
			text-align: center;
			margin-bottom: 10px;

			a {
				font: 500 1em/120% $body_font_family;
				color: $nooch-blue;
				text-decoration: none;
			}
		}

		#previous-wrap, #next-wrap {
			width: 50%;
			display: inline-block;
		}

		#next-wrap {
			text-align: right;
		}

		#previous-wrap a, #next-wrap a {
			font: 500 .8em/120% $body_font_family;
			text-decoration: none;
			border: 1px solid $nooch_dgreen;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			padding: 15px 5%;
			color: white;
			margin-top: -0.25em;
			padding: .25em .5em;
			background: -webkit-gradient(linear,left top,left bottom,color-stop(0,$nooch_lgreen),color-stop(100%,$nooch_green));
			background: -webkit-linear-gradient(top,$nooch_lgreen 0,$nooch_green 100%);
			background: -o-linear-gradient(top,$nooch_lgreen 0,$nooch_green 100%);
			background: linear-gradient(top,$nooch_lgreen 0,$nooch_green 100%);
		}

	}

/*********************
PlUGINS
*********************/

.sharedaddy {
	border-top: 1px solid $nooch_xlgray;
	border-bottom:  1px solid $nooch_xlgray;

	.sd-block {
		border: 0px !important;

		.sd-title {
			font: 500 12px/120% $body_font_family !important;
			color: $nooch_dgray !important;
		}


		.share-facebook {
					
			span {
				background: url('../images/social-plugin/fb-32.png') no-repeat 3px 2px !important;
				background-size: 16px 16px !important;
			}
		}

		.sd-content {
			ul{
				li{
					a{
						span {
							font-family: $body_font_family !important;
							color: $nooch_blue !important;
						}
					}
				}
			}
		}

		.share-twitter {

			span {
				background: url('../images/social-plugin/tw-32.png') no-repeat 3px 3px !important;
				background-size: 16px 16px !important;
			}
		}

		.share-google-plus-1 {

			span {
				background: url('../images/social-plugin/gp-32.png') no-repeat 3px 2px !important;
				background-size: 16px 16px !important;
			}
		}

		.share-linkedin {

			span {
				background: url('../images/social-plugin/li-32.png') no-repeat 3px 2px !important;
				background-size: 16px 16px !important;
			}
		}

		.share-email {

			span {
				background: url('../images/social-plugin/em-32.png') no-repeat 3px 2px !important;
				background-size: 16px 16px !important;
			}
		}

		li:not(:last-child) {
			filter: grayscale(100%);
			filter: gray;
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
			-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
			-webkit-transition: 0.2s all ease-in;
  			-o-transition: 0.2s all ease-in;
  			-moz-transition: 0.2s all ease-in;
  			transition: 0.2s all ease-in;

			&:hover, &:active{
			filter: none;
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
			-webkit-filter: grayscale(0%);
		}}
	}
}

#sharing_email {
	width: 100% !important;
	margin-left: 0px !important;
	left: 0px !important;

	form {

		label {
			font: 16px/120% $header_font_family !important;
			color: $nooch_purple !important;
		}

		#target_email {
			border-radius: 5px !important;
			font-family: $body_font_family !important;
			color: $nooch_dgray !important;
		}

		.sharing_send {
			padding: 7px 2px;
			font: normal 0.7em $body_font_family;
			border-radius: 4px;
			width: 80px; height: 30px;
			background-color: $nooch-blue;
			border: solid 1px $nooch-dblue;
			color: white;			
		}

		.sharing_cancel {
			text-decoration: none;
			font-family: $body_font_family;
		}		
	}
}

/*********************
404
*********************/
h1.error-header {
	padding: 0px 5%;
}

.main-404 {
	p{
		padding: 0px 5%;
		font: 300 1em/120% $body_font_family;
		color: $nooch_dgray;
		margin-bottom: 30px;

		strong {
			text-align: center;
			display: block;
		}
	}
}

.killbot-mobile {
	width: 90%; height: auto;
	max-width: 300px; max-height: 300px;
}

/*********************
FOOTER STYLES
*********************/

footer.footer {
	border-top: 1px solid $nooch_xlgray;
	width: 100%;
	padding: 1em 2.5%;
	display: block;
	background: white;

	form {
		display: block;
		max-width: 320px;
		margin-left: auto; margin-right: auto;

		h3 {
			text-align: center;
			margin: 0px auto;
			font-size: 1.4em;
			color: $nooch_purple;
		}

		p{
			font: normal 0.7em $body_font_family;
			text-align: center;
		}

		input {
			width: 60%; height: 30px;
			padding: 7px 2px;
			border: 1px solid $nooch_lgray;
			color: $nooch_lgray;
			font: normal 0.7em $body_font_family;
			border-radius: 4px;
			display: inline-block;
			margin: 0px 0px 0px 5%;
		}

		#footer-submit {
			width: 25%; height: 30px;
			background-color: $nooch-blue;
			border: solid 1px $nooch-dblue;
			color: white;
			margin-left: 5%;
			margin-right: 5%;
		}
	}

	.footer-list {
		text-align: center;
		width: 100%;

			h6{
				font: 900 2em $body_font_family;
				color: $nooch_green;
				margin: .5em 0px;
			}

			a{
				font: 500 1.3em $body_font_family;
				color: $nooch_lgray;
				text-decoration: none;
			}
		}
	}

	#social-list {
		
		#social-header {
			display: none;
		}

		li {
			display: inline-block;
			margin-left: .5em;

			a {
				display: inline-block;
				text-indent: -999px;
				overflow: hidden;
				font-size: 0;
				width: 60px; height: 60px;
				background: url('../images/social2x.png');
				background-size: 240px 60px;
			}

			#fb-link {
				background-position: 120px 0px;
				margin: 0px;
			}

			#tw-link {
				background-position: 180px 0px;
			}

			#in-link {
				background-position: 60px 0px;
			}

			#gp-link {
				background-position: 0px 0px;
			}
		}
	}

#footerbottom {
   	width: 100%;
	padding: 0px;
   	height: 20px;
   	font-size: 0;
   	position: relative;
	
	.colorfoot {
		display: inline-block;
		height: 100%;
		background-repeat: repeat;
	}

	#footleft {
		background-color: $nooch_green;
		width: 60%;
	}

	#footcenter {
		background-color: $nooch_blue;
   		width: 25%;
	}

	#footright {
		background-color: $nooch_purple;
		width: 15%;
	}

	.copyright{
		padding: 0px !important;
		margin: 0px !important;
		font: 10px "Roboto";
		color: #fff;
		position: absolute;
		top: 5px;
		left: 10px;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 2.2em;
}

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time {}
		}

		/* entry content */
		.entry-content {

			p {}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

#commentform {

	.comments-logged-in-as {
		font-family: $body_font_family;
	}

	input, textarea {
		border-radius: 5px;
	}

	#submit {
		width: 80px; height: 34px;
		font-size: 12px;
		background-color: $nooch-blue;
		border: solid 1px $nooch-dblue;
		color: white;
		margin-bottom: 40px;
	}

	.alert-info {
		background: white;
		border-color: $nooch-blue;
		border-radius: 5px;
		margin: 0px;
	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;
		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	.alt {}
	.odd {
		background: $nooch_lgray;
	}
	.even {
		background: $nooch_xlgray;
	}

	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;
		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.avatar {
			display: none;
		}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	width: 100%;
	padding: 40px 0px;
	display: block;
	text-align: center;
	border-top: 2px solid $nooch_dgray;
	border-bottom: 2px solid $nooch_dgray;
	background: url(../images/stripe-background.png) repeat;

	form {
		display: block;
		max-width: 320px;
		margin-left: auto; margin-right: auto;

		input:not(#searchsubmit) {
			width: 60%; height: 30px;
			padding: 7px 2px;
			border: 1px solid $nooch_lgray;
			color: $nooch_lgray;
			font: normal 0.7em $body_font_family;
			border-radius: 4px;
			display: inline-block;
			margin: 0px 0px 0px 5%;
		}

		#searchsubmit {
			width: 20%; height: 30px;
			border-radius: 5px;
			background-color: $nooch-blue;
			border: solid 1px $nooch-dblue;
			color: white;
			margin-left: 5%;
			margin-right: 5%;
			font-size: 11px;
		}
	}

	#recent-comments-2 {
		display: none;
	}

	#meta-2 {
		display: none;
	}

	.screen-reader-text {
		font-size: 0;
	}

	.widgettitle {}

	.widget {

		ul {

			li {

				a {
					font: 500 1em/120% $body_font_family;
					color: $nooch_blue;
					text-decoration: none;
				}

			}

		}

	}
}


