/******************************************************************
Site Name:  Nooch
Author: Thomas Peduto

Stylesheet: Developer Classes Stylesheet

I created these styles to quickly develop and test.  Includes classes
hidden, invisable, float-left, float-right, block, inline-block, inline, ect.

******************************************************************/

/*********************
DEVELOPER STYLES
*********************/
.hidden {
	display: none;
}

.invisable {
	display: hidden;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}
.clear {
	clear: both;
}
.desk-only{
	display: none;
}

.tab-desk-only {
	display: none;
}

.fifty-spacer {
	margin-bottom: 50px;
} 

.full-width{
	width: 100%;
	background-color: white;
	margin-top: 70px;
}

*:active{
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
