/*********************
Variables
*********************/

$nooch_blue: #3FABE1;
$nooch_dblue: #3994d0;
$nooch_green: #72BF44;
$nooch_dgreen: #6ba944;
$nooch_lgreen: #80cb51;
$nooch_purple: #5a548e;
$nooch_dpurple: #3b3762;
$nooch_dgray: #818285;
$nooch_lgray: #c2c3c8;
$nooch_xlgray: #ebebeb;
$body_font_family: "Roboto", Arial, Helvetica, sans-serif;
$header_font_family: "Varela Round", "Gotham Rounded", Arial, Helvetica, sans-serif;

$link_color: $nooch_blue;
$header_color: $nooch_purple;
$text_color: $nooch_dgray;
$li_active_color: $nooch_dgray;

$nooch_bg: "url('../images/background.png')"