/******************************************************************
Site Name: Nooch
Author: Thomas Peduto
Stylesheet: Main Stylesheet

******************************************************************/


//RESET
@import "normalize";

//MIXINS
@import "mixins";

//VARIABLES
@import "vars";

//FONTS
@import "fonts";

//BASE (MOBILE) SIZE
@import "base";
@import "develop";
@import "slider";

//LARGER MOBILE DEVICES
@media only screen and (max-width: 400px) {
	@import "400down";
}

//LARGER THAN A PORTAIT IPHONE
@media only screen and (min-width: 481px) {
	@import "481up";
}

//TABLET & SMALLER LAPTOPS
@media only screen and (min-width: 768px) {
	@import "grid";
	@import "768up";
}
@media only screen and (max-width: 767px) {
ul {
	background: none !important;
}
}

//DESKTOP
@media only screen and (min-width: 1030px) {
	@import "1030up";
}

//LARGE SCREEN
@media only screen and (min-width: 1240px) {
	@import "1240up";
}

//PRINT
@media print {
	@import "print";
}

//SHADOWBOX
@import "shadowbox";